@model PerfectPolicyQuizTwo.Models.Question

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionTopic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionTopic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuizId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuizId)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.options)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.options)
            </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {/* id = model.q */}) |
    <a asp-action="Index">Back to List</a>
</div>
