@model IEnumerable<PerfectPolicyQuizTwo.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuizId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizPassNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizPersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizPassNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
