@model IEnumerable<PerfectPolicyQuizTwo.Models.Quiz>

@{ ViewData["Title"] = "Quizzes"; }

<h1>Quizzes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Filter", "Quiz", FormMethod.Post))
{
    <select asp-items="@ViewBag.QuizDDL" name="QuizDDL"></select>
    <inputtype ="submit" value="submit" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuizId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizPassNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizPersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuizPassNumber)
                </td>
                <td>
                    @Html.ActionLink("Questions", "QuestionsForQuiz", "Question", new { id = item.QuizId }, new { @Question = "btn btn-primary" })
                <td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.QuizId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.QuizId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.QuizId })
                </td>
            </tr>
        }
    </tbody>
</table>
