@model IEnumerable<PerfectPolicyQuizTwo.Models.Option>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OptionId }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
